.authorization-main{
    position: relative;
    &__title{
        color: $sunsetBreath4;
        font-style: normal;
        font-weight: 600;
        font-size: 42.6407px;
        line-height: 64px;
        letter-spacing: -0.005em;
        margin-bottom: 50px;
        margin-top: 34%;
        @media screen and (max-width: 1330px){
            margin: 0 0 25px;
        }
        @media screen and (max-width: 1150px){
            line-height: 30px;
            font-size: 32px;
        }
        @media screen and (max-width: 800px){
            font-size: 30px;
        }
        @media screen and (max-width: 770px){
            font-size: 28px;
        }
        @media screen and (max-width: 740px){
            font-size: 34px;
            line-height: 41px;
            margin: 40px 0 88px;
        }
    }
    &__description{
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        letter-spacing: -0.005em;
        color: $bali;
        @media screen and (max-width: 950px){
            font-size: 15px;
            line-height: 21px;
        }
        @media screen and (max-width: 740px){
            font-size: 17px;
            line-height: 22px;
        }
        @media screen and (max-width: 740px){
            width: 98%;
        }
        @media screen and (max-width: 350px){
            font-size: 15px;
            line-height: 20px;
        }
        &_weight{
            font-weight: 600;
            @media screen and (max-width: 740px){
                font-size: 20px;
                line-height: 24px;
            }
            @media screen and (max-width: 350px){
                font-size: 18px;
                line-height: 22px;
            }
        }
        &_step-richiedi-email{
            margin-top: 50px;
            @media screen and (max-width: 900px){
                margin-top: 18px;
             }
        }
    }
    .br-resp{
        display: none;
            @media screen and (max-width: 740px){
                display: block;
            }
    }
    &__name-user{
        color: $sun;
    }
    &__step-richiedi-email{
        
        .authorization-main__title{
            line-height: 48px;
            margin-bottom: 16px;
        }
    }
}