.authorization-form{
    width: 375px;
    margin-top: 25px;
    @media screen and (max-width: 1150px){
        width: 330px;
    }
    @media screen and (max-width: 740px){
        margin: 89px auto 30px;
        width: 100%;
    }
    @media screen and (max-width: 370px){
        width: 300px;
    }
    &__label{
        color: $bali;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        letter-spacing: -0.005em;
        margin-bottom: 15px;
        @media screen and (max-width: 900px){
            font-size: 17px;
        }
    }
    &__input{
        width: 100%;
        background: $sunsetBreath5;
        padding: 11px 10px;
        color: $darkforest1;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        box-sizing: border-box;
        border-radius: 2px;
        &::placeholder{
            font-size: 18px;
            line-height: 27px;
            color: $bali;
            letter-spacing: -0.005em;
            font-family: 'Poppins', sans-serif;
            @media screen and (max-width: 900px){
                font-size: 16px;
            }
        }
        &_svg {
            padding-right: 50px;
        }
    }
    &__wrap-block-step-next{
        margin-top: 21px;
    }
    &__label-mail{
        position: relative;
        &:after{
            position: absolute;
            content: url("../../svg/mail.svg");
            top: 2px;
            right: -359px;
            @media screen and (max-width: 1360px){
                right: -317px;
            }
            @media screen and (max-width: 740px){
                right: -344px;
            }
            @media screen and (max-width: 370px){
                right: -290px;
            }
        }
    }
    &__label-password{
        display: inline-flex;
        width: 100%;
        &:after{
            position: absolute;
            content: url("../../svg/eye.svg");
            top: 10px;
            right: 12px;
        }
    }
    &__btn{
        background: $darkforest3;
        color: #FFF7FA;
        font-style: normal;
        font-weight: 600;
        font-size: 23.99px;
        line-height: 56px;
        letter-spacing: -0.005em;
        width: 375px;
        position: absolute;
        bottom: 0;
        font-family: 'Poppins', sans-serif;
        border-radius: 2px;
        @media screen and (max-width: 1150px){
            width: 330px;
        }
        @media screen and (max-width: 740px){
            position: static;
            margin-top: 120px;
            width: 355px;
        }
        @media screen and (max-width: 370px){
            width: 300px;
            line-height: 48px;
            font-size: 22px;
        }
        >img{
            @media screen and (max-width: 740px){
                width: 24.8px;
            }
        }
        &_sun{
            background: $sun;
            font-weight: normal;
            font-size: 18px;
        }
    }
    &__btn-title{
        margin-right: 10px;
    }
    .terms-of-use{
        position: absolute;
        bottom: 100px;
        width: 73%;
    }
}