.authorization-form{
    width: 375px;
    margin-top: 25px;
    @media screen and (max-width: 1150px){
        width: 330px;
        margin-top: 15px;
    }
    @media screen and (max-width: 740px){
        margin: 80px auto 30px;
        width: 100%;
    }
    @media screen and (max-width: 370px){
        width: 93%;
    }
    @media screen and (max-width: 350px){
        width: 95%;
    }
    &__label{
        color: $bali;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        letter-spacing: -0.005em;
        margin-bottom: 15px;
        @media screen and (max-width: 900px){
            font-size: 17px;
        }
    }
    .input-wrap{
        .authorization-form__input-svg {
            padding-right: 50px;
        }
    }
    
    &__label-mail{
        position: absolute;
        display: block;
        width: 100%;
        &:after{
            position: absolute;
            content: url("../../svg/envelope-regular.svg");
            top: 11px;
            right: 10px;
            width: 20px;
        }
    }
    &__label-password{
        display: inline-flex;
        &:after{
            position: absolute;
            content: url("../../svg/eye.svg");
            top: 6px;
            right: 15px;
        }
    }
    .btn-basic{
        font-size: 23.99px;
        line-height: 56px;
        letter-spacing: -0.005em;
        width: 375px;
        position: absolute;
        bottom: 0;
        padding: 0;
        @media screen and (max-width: 1150px){
            width: 330px;
            font-size: 22px;
        }
        @media screen and (max-width: 740px){
            position: static;
            margin-top: 120px;
            width: 355px;
            line-height: 48px;
            
        }
        @media screen and (max-width: 370px){
            width: 100%;
        }
        @media screen and (max-width: 360px){
            font-size: 18px;
        }
        >img{
            @media screen and (max-width: 740px){
                width: 24.8px;
            }
        }
    }
    .btn-basic_sun{
        font-weight: normal;
        font-size: 18px;
        line-height: 47px;
    }
    &__btn-title{
        margin-right: 10px;
    }
    .terms-of-use{
        position: absolute;
        bottom: 100px;
        width: 73%;
        @media screen and (max-width: 1400px){
            position: static;
            width: 100%;
        }
        @media screen and (max-width: 1200px){
            position: static;
        }
    }
    .checkbox__custom + label::before {
        @media screen and (min-width: 740px) and (max-width: 1050px){
            width: 20px;
            height: 20px;
        }
        @media screen and (max-width: 740px){
            left: 25px;
        }
        @media screen and (max-width: 350px){
            left: 10px;
            width: 20px;
            height: 20px;
        }
    }
    .checkbox__label{
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        letter-spacing: -0.005em;
        color: #F5FCFA;
        padding-left: 34px;
        cursor: pointer;
        position: relative;
        @media screen and (max-width: 740px){
            padding-left: 50px;
            font-size: 17px;
        }
        @media screen and (max-width: 350px){
            padding-left: 34px;
            font-size: 15px;
        }
        a{
            margin-left: 5px;
        }
    }
}