.banner{
    width: 100%;
    height: 726px;
    background: linear-gradient(180deg, rgba(38, 79, 75, 0) 0%, rgba(38, 79, 75, 0) 18.57%, rgba(38, 79, 75, 0.247849) 60.41%, rgba(38, 79, 75, 0.553075) 79.77%, #264F4B 100%), linear-gradient(0deg, rgba(38, 79, 75, 0.8), rgba(38, 79, 75, 0.8)), url('../../image/baner-home.jpeg');
    background-size: cover;
    background-blend-mode: normal, lighten, normal;
    background-position: center;
    position: relative;
    
    &__p{
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 29px;
        width: 40%;
    }
    &__btn-wrap{
        display: flex;
        margin: 10px 0 162px;
    }
    &__content-wrap{
        padding-top: 280px;
    }
    .btn-basic{
        width: 380px;
        padding: 9px 0;
        box-shadow: 0px 6px 12px -6px rgba(39, 79, 75, 0.25);
        margin-right: 20px;
    }
    .btn-basic_ligth{
        padding: 10px 19px;
        width: auto;
    }
    &__files{
        background: #364140;
        border-radius: 0px 2px 2px 0px;
        padding: 3px 6px 3px 72px;
        font-style: normal;
        font-weight: normal;
        font-size: 13.5px;
        line-height: 24px;
        display: inline-block;
        position: absolute;
        left: 0;
        bottom: 23%;
    }
    &__files-number{
        margin-right: 5px;
        font-weight: 600;
        position: relative;
        &:after{
            position: absolute;
            content: url("../../svg/files.svg");
            left: -27px;
        }
    }
}
.main-title{
    font-style: normal;
    font-weight: 600;
    font-size: 56.8391px;
    line-height: 52px;
    margin-bottom: 10px;
}