.bell{
    position: relative;
    @media screen and (max-width: 767px){
        display: none;
    }
    &__icon{
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        background: $sun;
        width: 24px;
        height: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: -3px;
        top: 6px;
    }
    &__number{
        letter-spacing: -0.08px;
        font-weight: 600;
        font-size: 13px;
        line-height: 18px;
    }
}