.checkbox{
    margin-bottom: 23px;
    @media screen and (min-width: 740px) and (max-width: 1050px){
        margin-bottom: 10px;
    }
    @media screen and (max-width: 740px){
        text-align: left;
        margin-bottom: 33px;
    }
    &__label{
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        letter-spacing: -0.005em;
        color: #F5FCFA;
        padding-left: 34px;
        cursor: pointer;
        position: relative;
        @media screen and (max-width: 740px){
            font-size: 17px;
            line-height: 21px;
        }
        @media screen and (max-width: 350px){
            font-size: 15px;
        }
        a{
            margin-left: 5px;
        }
    }
    &__custom{
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
    .checkbox__custom + label {
        display: inline-flex;
        align-items: center;
        user-select: none;
    }
    .checkbox__custom + label::before {
        content: '';
        position: absolute;
        display: inline-block;
        border: 2px solid #36706A;
        background: $sunsetBreath5;
        background-repeat: no-repeat;
        width: 24px;
        height: 24px;
        left: 0;
        z-index: -1;
        box-sizing: border-box;
        @media screen and (min-width: 740px) and (max-width: 1050px){
            width: 20px;
            height: 20px;
        }
        @media screen and (max-width: 350px){
            width: 20px;
            height: 20px;
        }
    }
    .checkbox__custom:checked+label::before {
        content: url('../../svg/check-solid.svg');
    }
}