.courses{
    position: relative;
    top: -63px;
    padding-bottom: 132px;
    &__wrap{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 100px;
    }
    &__wrap-block{
        background: $darkforest1;
    }
    &__title{
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 42px;
        letter-spacing: 0.36px;
        margin-bottom: 20px;
    }
    .banner__files{
        background: $darkforest2;
        padding: 3px 13px 3px 39px;
        border-radius: 0 2px 0 2px;
        top: 0;
        right: 0;
        bottom: auto;
        left: auto;
        -webkit-border-radius: 0 2px 0 2px;
        -moz-border-radius: 0 2px 0 2px;
        -ms-border-radius: 0 2px 0 2px;
        -o-border-radius: 0 2px 0 2px;
    }
}