.course-list-item{
    display: flex;
    padding: 20px 43px 20px 27px;
    position: relative;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    @media screen and (max-width: 400px){
        padding: 20px 0px 10px 0px;
    }
    &:hover{
        background: $darkforest1;
    }
    &:after{
        position: absolute;
        content: "";
        width: 100%;
        height: 2px;
        background: $darkforest3;
        bottom: 0;
        left: 0;
    }
    &__number{
        font-style: normal;
        font-weight: 600;
        font-size: 23.99px;
        line-height: 36px;
        align-self: center;
        width: 29px;
        @media screen and (max-width: 400px){
            font-size: 15px;
            line-height: 20px;
            width: 15px;
        }
    }
    &__video{
        width: 259px;
        height: 131px;
        position: relative;
        margin: 0 20px 0 15px;
        background: linear-gradient(180deg, rgba(38, 79, 75, 0) 0%, rgba(38, 79, 75, 0) 18.57%, rgba(38, 79, 75, 0.247849) 60.41%, rgba(38, 79, 75, 0.553075) 79.77%, #264F4B 100%), url("../../image/pop-up-banner2.jpeg");
        border-radius: 2px;
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        @media screen and (max-width: 400px){
            width: 105px;
            height: 57px;
            margin: 0 6px 0 6px;
        }
        >img{
            width: 100%;
        }
    }
    &__descriptions{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50%;
        padding: 8px 0 5px;
    }
    &__descriptions-title{
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        width: 45%;
        @media screen and (max-width: 400px){
            font-size: 15px;
            line-height: 20px;
            width: 100%;
        }
        @media screen and (max-width: 320px){
            font-size: 11px;
        }
    }
    &__info{
        display: flex;
       
        img{
            margin-right: 5px;
        }
        >div{
            margin-right: 20px;
            font-weight: normal;
            font-size: 13px;
            line-height: 18px;
        }
        >:first-child{
            @media screen and (max-width: 600px){
                display: none;
            }
        }
    }
    &__icon-wrap{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 5%;
        padding: 10px 0;
        @media screen and (max-width: 600px){
            display: none;
        }
        >div{
            cursor: pointer;
        }
    }
    .time-video-block{
        span{
            font-size: 13px;
            line-height: 18px;
        }
    }
    .btn-play{
        img{
            @media screen and (max-width: 400px){
                width: 30px;
                height: 30px;
            }
        }
    }
    
}
.btn-play{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    cursor: pointer;
}