.login{
    &__link{
        font-style: normal;
        font-weight: 500;
        font-size: 13.5px;
        line-height: 20px;
        color: $bali;
        text-align: right;
        margin-top: 20px;
        display: block;
    }
    .authorization-form__input_svg {
        padding-right: 10px;
        @media screen and (max-width: 740px){
            padding-right: 50px;
        }
    }
    .authorization-main__title{
        @media screen and (min-width: 741px){
            margin: 0 0 10px;
        }
    }
    .authorization-form {
        margin-top: 20px;
    }
    .authorization-form__label{
        margin-bottom: 2px;
    }
    .authorization-form__wrap-block-step-next{
        margin-top: 24px;
    }
    .btn-basic{
        position: static;
        margin-top: 55px;
        @media screen and (min-width: 741px) and (max-width: 1150px){
            position: absolute;
        }
    }
    .authorization-form__label{
        @media screen and (max-width: 740px){
            display: none;
        }
    } 
    .authorization-form__label-mail,.authorization-form__label-password{
        display: none;
        @media screen and (max-width: 740px){
            display: block;
        }
    }
    .authorization-form__input{
        &::placeholder{
            color: transparent;
            @media screen and (max-width: 740px){
                color: $bali;
            }
        }
    }
}

.authorization__recovery-password .authorization-form__label-mail{
    display: block;
}