.modifica-password{
    &__form{
        width: 40%;
        margin-top: 20px;
    }
    .input-wrap{
        margin-bottom: 20px;
        width: 375px;
        .input{
            background: #ECF9F5;
        }
        .label{
            color: #264F4B;
            margin-bottom: 13px;
        }
    }
    .checkbox__label{
        color: $darkforest1;
        font-weight: 600;
        letter-spacing: -0.005em;
    }
    &__wrap-btn{
        display: flex;
        flex-direction: row;
    }
    .btn-basic{
        margin-right: 10px;
        width: 200px;
    }
}