.modifica-password{
    &__form{
        width: 40%;
        margin-top: 26px;
        @media screen and (max-width: 1200px){
            margin: auto;
            width: 60%;
        }
        @media screen and (max-width: 600px){
            width: 100%;
        }
    }
    .seetings__title{
        @media screen and (max-width: 1200px){
            margin: auto;
            width: 60%;
        }
        @media screen and (max-width: 600px){
            width: 100%;
        }
    }
    .input-wrap{
        margin-bottom: 20px;
        width: 375px;
        @media screen and (max-width: 400px){
            width: 100%;
        }
        .input{
            background: #ECF9F5;
        }
        .label{
            color: #264F4B;
            display: inline-flex;
            margin-bottom: 14px;
        }
    }
    .checkbox{
        @media screen and (max-width: 741px){
            width: 100%;
        }
    }
    .checkbox__label{
        color: $darkforest1;
        font-weight: 600;
        letter-spacing: -0.005em;
    }
    &__wrap-btn{
        display: flex;
        flex-direction: row;
        margin-top: 65px;
        @media screen and (max-width: 350px){
            flex-wrap: wrap;
        }
    }
    .btn-basic{
        margin-right: 10px;
        width: 200px;
        font-size: 23.99px;
        letter-spacing: -0.005em;
        @media screen and (max-width: 350px){
            width: 100%;
            margin: 0 0 15px;
        }
        @media screen and (max-width: 350px){
            font-size: 22px;
        }
    }
}