.subscription{
    position: relative;
    margin-top: 21px;
    display: flex;
    justify-content:space-between;
    @media screen and (max-width: 980px){
        width: 60%;
        margin: auto;
        flex-direction: column;
    }
    &__btn-title{
        font-weight: 500;
        font-size: 18px;
        line-height: 52px;
        color: $darkforest3;
    }
    .btn-basic{
        width: 236px;
        padding: 10px 0;
        letter-spacing: -0.005em;
    }
    &__main-container{
        width: 69.5%;
        @media screen and (max-width: 980px){
            width: 100%;
        }
    }
    &__info-user{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__field-second{
        color: $darkforest3;
    }
    &__field-password{
        margin-left: 5px;
    }
    &__field{
        font-weight: 600;
        font-size: 18px;
        line-height: 52px;
    }
    &__field-mail{
        color: $darkforest1;
    }
    &__field-btn{
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 52px;
        cursor: pointer;
    }
    &__container-block{
        position: relative;
        padding-bottom: 18px;
        &:after{
            position: absolute;
            content: "";
            width: 100%;
            height: 2px;
            background: $darkforest2;
            bottom: 0px;
            left: 0;
        }
    }
    &__info-card{
        .subscription__field-mail{
            img{
                margin-right: 10px;
            }
        }
    }
    &__field-billing{
        color: $darkforest2;
        font-weight: 500;
        font-size: 13.5px;
        line-height: 36px;
    }
    &__wrap-link{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 38%;
        padding-top: 16px;
        @media screen and (max-width: 1200px){
            width: 44%;
        }
    }
    &__second-block{
        display: flex;
        justify-content: space-between;
        padding: 10px 0 16px;
        a{
            display: inline-flex;
            text-align: right;
            line-height: 24px;
            margin-bottom: 21px;
        }
    }
    .sign-out{
        text-decoration: underline;
        display: block;
        text-align: center;
        margin-top: 14px;
    }
    &__btn-wrap{
        justify-content: space-between;
        display: flex;
        flex-direction: row;
        @media screen and (max-width: 1200px){
            position: relative;
            padding-bottom: 30px;
        }
        &:after{
            @media screen and (max-width: 1200px){
                position: absolute;
                content: "";
                width: 100%;
                height: 2px;
                background: $darkforest2;
                bottom: 0px;
                left: 0;
            }
        }
    }
}