$darkforest1: #264F4B;
$darkforest2: #36706A;
$darkforest3: #59AFA7;
$darkforest5: #BDDFDC;
$darkforest4: #DEEFED;
$sun: #E99022;
$bali:#B1E7D8;
$bali5: #F5FCFA;
$grey: #364140;
$sunsetBreath1:#F5EDE2;
$sunsetBreath4:#FAF6F1;
$sunsetBreath5:#FDFBF8;
.body-main{
    background: $darkforest1;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #264F4B;
    @media screen and (max-width: 740px){
        height: 100%;
        width: 100%;
        overflow: unset;
    }
}
body{
    color: $bali5;
    font-family: 'Poppins', sans-serif;
}
.body-page{
    background: $darkforest1;
}
.background-pop-up{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(38, 79, 75, 0.95);
    z-index: 1;
}
.container{
    max-width: 1400px;
    margin: auto;
    
}
.btn-basic{
    border-radius: 2px;
    font-style: normal;
    font-weight: 600;
    font-size: 13.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        padding: 0 8px;
    }
}