@font-face {
  font-family: 'Poppins', sans-serif;
  src: url("../../fonts/Poppins-Medium.ttf");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Poppins', sans-serif;
  src: url("../../fonts/Poppins-SemiBold.ttf");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'Poppins', sans-serif;
  src: url("../../fonts/Poppins-Regular.ttf");
  font-weight: normal;
  font-style: normal; }
.body-main {
  background: #264F4B;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #264F4B; }
  @media screen and (max-width: 740px) {
    .body-main {
      height: 100%;
      width: 100%;
      overflow: unset; } }

body {
  color: #F5FCFA;
  font-family: 'Poppins', sans-serif; }

.body-page {
  background: #264F4B; }

.background-pop-up {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(38, 79, 75, 0.95);
  z-index: 1; }

.container {
  max-width: 1400px;
  margin: auto; }

.btn-basic {
  border-radius: 2px;
  font-style: normal;
  font-weight: 600;
  font-size: 13.5px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .btn-basic img {
    padding: 0 8px; }

.authorization {
  display: flex;
  justify-content: center;
  align-items: center; }
  .authorization .container {
    width: 1312px;
    margin: auto; }
    @media screen and (max-width: 1360px) {
      .authorization .container {
        width: 90%; } }
    @media screen and (max-width: 1360px) {
      .authorization .container {
        width: 90%; } }
    @media screen and (max-width: 740px) {
      .authorization .container {
        width: 100%; } }
  @media screen and (max-width: 740px) {
    .authorization {
      width: 100%; } }
  .authorization__wrap {
    display: flex;
    justify-content: center; }
    @media screen and (max-width: 800px) {
      .authorization__wrap {
        justify-content: space-between; } }
    @media screen and (max-width: 740px) {
      .authorization__wrap {
        flex-direction: column;
        align-items: center; } }
  .authorization__img {
    position: relative;
    margin-right: 63px; }
    @media screen and (max-width: 1150px) {
      .authorization__img {
        width: 50%; } }
    @media screen and (max-width: 900px) {
      .authorization__img {
        margin-right: 30px; } }
    @media screen and (max-width: 767px) {
      .authorization__img {
        margin-right: 0px; } }
    .authorization__img > img {
      width: 100%; }
      @media screen and (max-width: 740px) {
        .authorization__img > img {
          margin: 0;
          position: absolute;
          width: 120%;
          top: -20%;
          right: -17%; } }
  .authorization__main {
    width: calc(43.5% - 66px); }
    @media screen and (max-width: 1400px) {
      .authorization__main {
        width: 51%; } }
    @media screen and (max-width: 1150px) {
      .authorization__main {
        width: 43%; } }
    @media screen and (max-width: 800px) {
      .authorization__main {
        width: 47%; } }
    @media screen and (max-width: 740px) {
      .authorization__main {
        width: 355px;
        text-align: center; } }
    @media screen and (max-width: 361px) {
      .authorization__main {
        width: 300px;
        text-align: center; } }
  .authorization__link {
    text-decoration: underline;
    font-weight: 600; }
  @media screen and (max-width: 1400px) {
    .authorization__last-step .authorization-main__title {
      margin-bottom: 40px; } }
  @media screen and (max-width: 740px) {
    .authorization__last-step .authorization-form {
      margin-top: 10px; } }
  @media screen and (max-width: 740px) {
    .authorization__last-step .authorization-form__btn {
      margin-top: 50px; } }
  @media screen and (max-width: 740px) {
    .authorization__first-step .authorization-main__title {
      margin-bottom: 40px; } }
  @media screen and (max-width: 740px) {
    .authorization__step-seven .authorization-main__title {
      margin-bottom: 40px; } }
  @media screen and (min-width: 740px) and (max-width: 950px) {
    .authorization__step-seven .authorization__main {
      width: 46%; } }
  @media screen and (max-width: 900px) {
    .authorization__step-seven .authorization-form {
      margin-top: 0px; } }
  @media screen and (max-width: 740px) {
    .authorization__step-seven .authorization-form {
      margin-top: 55px; } }
  @media screen and (max-width: 740px) {
    .authorization__step-seven .authorization-form__label {
      margin: 20px 0 0; } }
  @media screen and (max-width: 740px) {
    .authorization__step-seven .authorization-form__btn {
      margin-top: 80px; } }
  @media screen and (max-width: 740px) {
    .authorization__step-six .authorization-main__description {
      width: 70%;
      margin: 0 auto 45px; } }
  @media screen and (min-width: 1400px) {
    .authorization__step-six-next .authorization-main {
      width: calc(31.5% - 66px); } }
  @media screen and (max-width: 740px) {
    .authorization__step-six-next .authorization-main {
      text-align: left; } }
  .authorization__step-six-next .authorization-main__title {
    line-height: 48px;
    margin-bottom: 16px; }
    @media screen and (max-width: 740px) {
      .authorization__step-six-next .authorization-main__title {
        padding-left: 20px; } }
  @media screen and (max-width: 740px) {
    .authorization__step-six-next .authorization-main__description {
      padding-left: 20px;
      box-sizing: border-box; } }
  @media screen and (max-width: 740px) {
    .authorization__recovery-password .authorization-main__description {
      width: 90%;
      margin: auto;
      text-align: left; } }
  @media screen and (max-width: 740px) {
    .authorization__recovery-password .authorization-main__description_weight {
      font-weight: normal; } }
  @media screen and (max-width: 740px) {
    .authorization__step-five .authorization-form__btn {
      margin-top: 80px; } }

.authorization-main {
  position: relative; }
  .authorization-main__title {
    color: #FAF6F1;
    font-style: normal;
    font-weight: 600;
    font-size: 42.6407px;
    line-height: 64px;
    letter-spacing: -0.005em;
    margin-bottom: 50px;
    margin-top: 34%; }
    @media screen and (max-width: 1330px) {
      .authorization-main__title {
        margin: 0 0 25px; } }
    @media screen and (max-width: 1150px) {
      .authorization-main__title {
        line-height: 30px;
        font-size: 32px; } }
    @media screen and (max-width: 800px) {
      .authorization-main__title {
        font-size: 30px; } }
    @media screen and (max-width: 770px) {
      .authorization-main__title {
        font-size: 28px; } }
    @media screen and (max-width: 740px) {
      .authorization-main__title {
        font-size: 34px;
        line-height: 41px;
        margin: 40px 0 88px; } }
  .authorization-main__description {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.005em;
    color: #B1E7D8; }
    @media screen and (max-width: 950px) {
      .authorization-main__description {
        font-size: 15px;
        line-height: 21px; } }
    @media screen and (max-width: 740px) {
      .authorization-main__description {
        font-size: 17px;
        line-height: 22px; } }
    @media screen and (max-width: 740px) {
      .authorization-main__description {
        width: 98%; } }
    @media screen and (max-width: 350px) {
      .authorization-main__description {
        font-size: 15px;
        line-height: 20px; } }
    .authorization-main__description_weight {
      font-weight: 600; }
      @media screen and (max-width: 740px) {
        .authorization-main__description_weight {
          font-size: 20px;
          line-height: 24px; } }
      @media screen and (max-width: 350px) {
        .authorization-main__description_weight {
          font-size: 18px;
          line-height: 22px; } }
    .authorization-main__description_step-richiedi-email {
      margin-top: 50px; }
      @media screen and (max-width: 900px) {
        .authorization-main__description_step-richiedi-email {
          margin-top: 18px; } }
  .authorization-main .br-resp {
    display: none; }
    @media screen and (max-width: 740px) {
      .authorization-main .br-resp {
        display: block; } }
  .authorization-main__name-user {
    color: #E99022; }
  .authorization-main__step-richiedi-email .authorization-main__title {
    line-height: 48px;
    margin-bottom: 16px; }

@media screen and (max-width: 1150px) {
  .authorization-img {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; } }
@media screen and (max-width: 740px) {
  .authorization-img {
    height: 213px;
    overflow: hidden;
    width: 100%;
    padding-top: 50px;
    box-sizing: border-box; } }
.authorization-img__pos {
  position: absolute;
  left: 109px; }
  @media screen and (max-width: 1150px) {
    .authorization-img__pos {
      left: 30px; } }
  @media screen and (max-width: 740px) {
    .authorization-img__pos {
      position: static;
      z-index: 1; } }
.authorization-img__logo {
  top: 20px;
  left: 30px; }
  @media screen and (max-width: 740px) {
    .authorization-img__logo {
      margin-right: 10px; } }
  @media screen and (max-width: 740px) {
    .authorization-img__logo img {
      width: 65px; } }
.authorization-img__title {
  top: 29%;
  display: flex;
  flex-direction: column; }
  @media screen and (max-width: 740px) {
    .authorization-img__title img {
      height: 70px; } }
  @media screen and (max-width: 900px) {
    .authorization-img__title {
      width: 70%; } }
  @media screen and (max-width: 740px) {
    .authorization-img__title {
      width: 182px;
      height: 70px; } }
  .authorization-img__title :nth-child(2) {
    width: 205px;
    margin-top: 23px; }
    @media screen and (max-width: 740px) {
      .authorization-img__title :nth-child(2) {
        display: none; } }
.authorization-img__title-second {
  width: 205px;
  margin-top: 23px; }
.authorization-img__accedi-wrap {
  color: #F5FCFA;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.005em;
  bottom: 56px; }
  @media screen and (max-width: 740px) {
    .authorization-img__accedi-wrap {
      margin-top: 11px;
      width: 100%;
      text-align: center;
      font-size: 15px;
      line-height: 20px; } }
.authorization-img__accedi {
  position: relative;
  margin-left: 9px; }
@media screen and (max-width: 740px) {
  .authorization-img__login > img {
    top: -16%;
    right: -60%;
    transform: scale(2); } }
@media screen and (max-width: 500px) {
  .authorization-img__login > img {
    top: 35%; } }

.authorization-form {
  width: 375px;
  margin-top: 25px; }
  @media screen and (max-width: 1150px) {
    .authorization-form {
      width: 330px;
      margin-top: 20px; } }
  @media screen and (max-width: 740px) {
    .authorization-form {
      margin: 80px auto 30px;
      width: 100%; } }
  @media screen and (max-width: 370px) {
    .authorization-form {
      width: 93%; } }
  @media screen and (max-width: 350px) {
    .authorization-form {
      width: 95%; } }
  .authorization-form__label {
    color: #B1E7D8;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.005em;
    margin-bottom: 15px; }
    @media screen and (max-width: 900px) {
      .authorization-form__label {
        font-size: 17px; } }
  .authorization-form__input {
    width: 100%;
    background: #FDFBF8;
    padding: 11px 10px;
    color: #264F4B;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    box-sizing: border-box;
    border-radius: 2px; }
    .authorization-form__input::placeholder {
      font-size: 18px;
      line-height: 27px;
      color: #B1E7D8;
      letter-spacing: -0.005em;
      font-family: 'Poppins', sans-serif; }
      @media screen and (max-width: 900px) {
        .authorization-form__input::placeholder {
          font-size: 16px; } }
    .authorization-form__input_svg {
      padding-right: 50px; }
  .authorization-form__wrap-block-step-next {
    margin-bottom: 21px; }
    @media screen and (max-width: 900px) {
      .authorization-form__wrap-block-step-next {
        margin-bottom: 5px; } }
  .authorization-form__label-mail {
    position: relative;
    display: block; }
    .authorization-form__label-mail:after {
      position: absolute;
      content: url("../../svg/envelope-regular.svg");
      top: 11px;
      right: 10px;
      width: 20px; }
  .authorization-form__label-password {
    display: inline-flex;
    width: 100%; }
    .authorization-form__label-password:after {
      position: absolute;
      content: url("../../svg/eye.svg");
      top: 10px;
      right: 12px; }
  .authorization-form__btn {
    background: #59AFA7;
    color: #FFF7FA;
    font-style: normal;
    font-weight: 600;
    font-size: 23.99px;
    line-height: 56px;
    letter-spacing: -0.005em;
    width: 375px;
    position: absolute;
    bottom: 0;
    font-family: 'Poppins', sans-serif;
    border-radius: 2px; }
    @media screen and (max-width: 1150px) {
      .authorization-form__btn {
        width: 330px;
        font-size: 22px; } }
    @media screen and (max-width: 740px) {
      .authorization-form__btn {
        position: static;
        margin-top: 120px;
        width: 355px;
        line-height: 48px; } }
    @media screen and (max-width: 370px) {
      .authorization-form__btn {
        width: 100%; } }
    @media screen and (max-width: 360px) {
      .authorization-form__btn {
        font-size: 18px; } }
    @media screen and (max-width: 740px) {
      .authorization-form__btn > img {
        width: 24.8px; } }
    .authorization-form__btn_sun {
      background: #E99022;
      font-weight: normal;
      font-size: 18px; }
  .authorization-form__btn-title {
    margin-right: 10px; }
  .authorization-form .terms-of-use {
    position: absolute;
    bottom: 100px;
    width: 73%; }
    @media screen and (max-width: 1400px) {
      .authorization-form .terms-of-use {
        position: static;
        width: 100%; } }
    @media screen and (max-width: 1200px) {
      .authorization-form .terms-of-use {
        position: static; } }

.authorization-radio {
  display: flex;
  justify-content: space-between;
  width: 92%; }
  @media screen and (max-width: 1300px) {
    .authorization-radio {
      width: 100%; } }
  @media screen and (max-width: 740px) {
    .authorization-radio {
      margin-bottom: -20px; } }
  .authorization-radio__item {
    position: relative;
    width: 104px; }
  .authorization-radio__label {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #264F4B;
    width: 100%;
    height: 48px;
    justify-content: center;
    text-align: center;
    cursor: pointer; }
    @media screen and (max-width: 365px) {
      .authorization-radio__label {
        font-size: 12px; } }
    .authorization-radio__label_step-4 {
      height: 68px;
      box-sizing: border-box;
      padding: 0 15px; }
  .authorization-radio__custom {
    position: absolute;
    z-index: -1;
    opacity: 0; }
  .authorization-radio .authorization-radio__custom + label {
    display: inline-flex;
    align-items: center;
    user-select: none; }
  .authorization-radio .authorization-radio__custom + label::before {
    content: '';
    position: absolute;
    display: inline-block;
    background-repeat: no-repeat;
    width: 104px;
    height: 48px;
    box-shadow: 0px 4px 6px -4px rgba(24, 39, 75, 0.12), 0px 8px 8px -4px rgba(24, 39, 75, 0.08);
    border-radius: 2px;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
    z-index: -1; }
    @media screen and (max-width: 365px) {
      .authorization-radio .authorization-radio__custom + label::before {
        width: 85px; } }
  .authorization-radio .authorization-step-4 + label::before {
    width: 112px;
    height: 68px; }
    @media screen and (max-width: 1300px) {
      .authorization-radio .authorization-step-4 + label::before {
        width: 100px; } }
    @media screen and (max-width: 365px) {
      .authorization-radio .authorization-step-4 + label::before {
        width: 85px; } }
  .authorization-radio .authorization-radio__custom:checked + label::before {
    background: #36706A; }

.authorization-checkbox {
  margin-top: 40px; }
  @media screen and (min-width: 740px) and (max-width: 1050px) {
    .authorization-checkbox {
      margin-top: 5px; } }
  @media screen and (max-width: 740px) {
    .authorization-checkbox {
      width: 95%;
      margin: 40px auto;
      margin-bottom: 55px; } }
  @media screen and (max-width: 370px) {
    .authorization-checkbox {
      width: 100%; } }
  .authorization-checkbox__item {
    margin-bottom: 23px; }
    @media screen and (min-width: 740px) and (max-width: 1050px) {
      .authorization-checkbox__item {
        margin-bottom: 10px; } }
    @media screen and (max-width: 740px) {
      .authorization-checkbox__item {
        text-align: left;
        margin-bottom: 33px; } }
  .authorization-checkbox__label {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.005em;
    color: #F5FCFA;
    padding-left: 34px;
    cursor: pointer; }
    @media screen and (max-width: 740px) {
      .authorization-checkbox__label {
        padding-left: 50px;
        font-size: 17px;
        line-height: 21px; } }
    @media screen and (max-width: 350px) {
      .authorization-checkbox__label {
        padding-left: 34px; } }
    .authorization-checkbox__label a {
      margin-left: 5px; }
  .authorization-checkbox__custom {
    position: absolute;
    z-index: -1;
    opacity: 0; }
  .authorization-checkbox .authorization-checkbox__custom + label {
    display: inline-flex;
    align-items: center;
    user-select: none; }
  .authorization-checkbox .authorization-checkbox__custom + label::before {
    content: '';
    position: absolute;
    display: inline-block;
    border: 2px solid #36706A;
    background: #FDFBF8;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    left: 0;
    z-index: -1; }
    @media screen and (min-width: 740px) and (max-width: 1050px) {
      .authorization-checkbox .authorization-checkbox__custom + label::before {
        width: 18px;
        height: 18px; } }
    @media screen and (max-width: 740px) {
      .authorization-checkbox .authorization-checkbox__custom + label::before {
        left: 25px; } }
    @media screen and (max-width: 350px) {
      .authorization-checkbox .authorization-checkbox__custom + label::before {
        left: 10px;
        width: 20px;
        height: 20px; } }
  .authorization-checkbox .authorization-checkbox__custom:checked + label::before {
    content: url("../../svg/check-solid.svg"); }

.login__link {
  font-style: normal;
  font-weight: 500;
  font-size: 13.5px;
  line-height: 20px;
  color: #B1E7D8;
  text-align: right;
  margin-top: 20px;
  display: block; }
.login .authorization-form__input_svg {
  padding-right: 10px; }
  @media screen and (max-width: 740px) {
    .login .authorization-form__input_svg {
      padding-right: 50px; } }
@media screen and (min-width: 741px) {
  .login .authorization-main__title {
    margin: 0 0 10px; } }
.login .authorization-form {
  margin-top: 20px; }
.login .authorization-form__label {
  margin-bottom: 2px; }
.login .authorization-form__wrap-block-step-next {
  margin-top: 24px; }
.login .authorization-form__btn {
  position: static;
  margin-top: 55px; }
  @media screen and (min-width: 741px) and (max-width: 1150px) {
    .login .authorization-form__btn {
      position: absolute; } }
@media screen and (max-width: 740px) {
  .login .authorization-form__label {
    display: none; } }
.login .authorization-form__label-mail, .login .authorization-form__label-password {
  display: none; }
  @media screen and (max-width: 740px) {
    .login .authorization-form__label-mail, .login .authorization-form__label-password {
      display: block; } }

.header {
  height: 68px;
  line-height: 68px;
  background: #264F4B; }
  .header__wrap {
    display: flex;
    justify-content: space-between;
    padding-right: 13px;
    box-sizing: border-box; }
  .header__svg-list {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0); }
    .header__svg-list path {
      fill: #F5FCFA; }

.header-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 40%;
  position: relative; }
  .header-menu__list {
    margin-left: 62px;
    display: flex;
    cursor: pointer; }
  .header-menu__list-profile-icon {
    margin-left: 52px; }
    .header-menu__list-profile-icon:after {
      position: absolute;
      content: url("../../svg/Vector-list.svg");
      top: 0;
      right: -16px; }

.profile-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: #E99022;
  border: 2px solid #E99022;
  position: relative;
  overflow: hidden;
  box-sizing: border-box; }
  .profile-icon img {
    width: 32px;
    position: absolute;
    top: 0;
    left: 0; }

.bell {
  position: relative; }
  .bell__icon {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background: #E99022;
    width: 24px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: -3px;
    top: 6px; }
  .bell__number {
    letter-spacing: -0.08px;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px; }
  .bell__list-wrap {
    display: none;
    width: 200px;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    z-index: 1; }
  .bell__list {
    width: 100%;
    height: fit-content;
    background: #59AFA7;
    border-radius: 2px;
    padding: 1px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    margin-top: 23px; }
    .bell__list :nth-child(1) {
      border-radius: 2px 2px 0 0;
      -webkit-border-radius: 2px 2px 0 0;
      -moz-border-radius: 2px 2px 0 0;
      -ms-border-radius: 2px 2px 0 0;
      -o-border-radius: 2px 2px 0 0; }
    .bell__list :last-child {
      border-radius: 0 0 2px 2px;
      margin-bottom: 0px;
      -webkit-border-radius: 0 0 2px 2px;
      -moz-border-radius: 0 0 2px 2px;
      -ms-border-radius: 0 0 2px 2px;
      -o-border-radius: 0 0 2px 2px; }
  .bell__list-item {
    position: relative;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    color: #264F4B;
    background: #DEEFED;
    padding: 5px 25px;
    margin-bottom: 1px; }
    .bell__list-item:after {
      position: absolute;
      content: url("../../svg/bell2.svg");
      left: 5px;
      top: 50%;
      transform: translate(0, -50%);
      -webkit-transform: translate(0, -50%);
      -moz-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      -o-transform: translate(0, -50%); }
    .bell__list-item:before {
      position: absolute;
      content: url("../../svg/cross.svg");
      right: 5px;
      top: 50%;
      transform: translate(0, -50%);
      -webkit-transform: translate(0, -50%);
      -moz-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      -o-transform: translate(0, -50%);
      cursor: pointer;
      width: 15px;
      height: 20px; }
    .bell__list-item_single {
      border-radius: 2px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      -o-border-radius: 2px; }

.banner {
  width: 100%;
  height: 726px;
  background: linear-gradient(180deg, rgba(38, 79, 75, 0) 0%, rgba(38, 79, 75, 0) 18.57%, rgba(38, 79, 75, 0.247849) 60.41%, rgba(38, 79, 75, 0.553075) 79.77%, #264F4B 100%), linear-gradient(0deg, rgba(38, 79, 75, 0.8), rgba(38, 79, 75, 0.8)), url("../../image/baner-home.jpeg");
  background-size: cover;
  background-blend-mode: normal, lighten, normal;
  background-position: center;
  position: relative; }
  .banner__p {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 29px;
    width: 40%; }
  .banner__btn-wrap {
    display: flex;
    margin: 10px 0 162px; }
  .banner__content-wrap {
    padding-top: 280px; }
  .banner .btn-main {
    background: #E99022;
    width: 380px;
    color: #F5FCFA;
    padding: 10px 0;
    box-shadow: 0px 6px 12px -6px rgba(39, 79, 75, 0.25);
    margin-right: 20px; }
  .banner .btn-ligth {
    padding: 10px 20px;
    color: #264F4B; }
  .banner__files {
    background: #364140;
    border-radius: 0px 2px 2px 0px;
    padding: 3px 6px 3px 72px;
    font-style: normal;
    font-weight: normal;
    font-size: 13.5px;
    line-height: 24px;
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 23%; }
  .banner__files-number {
    margin-right: 5px;
    font-weight: 600;
    position: relative; }
    .banner__files-number:after {
      position: absolute;
      content: url("../../svg/files.svg");
      left: -27px; }

.main-title {
  font-style: normal;
  font-weight: 600;
  font-size: 56.8391px;
  line-height: 52px;
  margin-bottom: 10px; }

.courses {
  position: relative;
  top: -63px;
  padding-bottom: 132px; }
  .courses__wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 100px; }
  .courses__wrap-block {
    background: #264F4B; }
  .courses__title {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    letter-spacing: 0.36px;
    margin-bottom: 20px; }
  .courses .banner__files {
    background: #36706A;
    padding: 3px 13px 3px 39px;
    border-radius: 0 2px 0 2px;
    top: 0;
    right: 0;
    bottom: auto;
    left: auto;
    -webkit-border-radius: 0 2px 0 2px;
    -moz-border-radius: 0 2px 0 2px;
    -ms-border-radius: 0 2px 0 2px;
    -o-border-radius: 0 2px 0 2px; }

.courses-card {
  background: linear-gradient(180deg, rgba(38, 79, 75, 0.2) 0%, rgba(38, 79, 75, 0.1) 18.57%, rgba(38, 79, 75, 0.247849) 60.41%, rgba(38, 79, 75, 0.553075) 79.77%, #264F4B 100%), linear-gradient(0deg, rgba(38, 79, 75, 0.8), rgba(38, 79, 75, 0.8)), url("../../image/courses-card1.jpeg");
  background-blend-mode: normal, lighten, normal;
  background-size: cover;
  background-blend-mode: normal, lighten, normal;
  background-position: center;
  border-radius: 2px;
  width: 453px;
  height: 203px;
  position: relative;
  padding: 16px 19px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  margin-bottom: 20px;
  cursor: pointer; }
  .courses-card__like {
    position: absolute;
    bottom: 50px;
    right: 52px; }
    .courses-card__like:after {
      position: absolute;
      content: url("../../svg/heart-course-card.svg"); }
  .courses-card .courses-card__like.courses-card__like_cheked:after {
    content: url("../../svg/like-cheked.svg"); }
  .courses-card__progress-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F5FCFA;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%; }
@keyframes growProgressBar {
  0%, 33% {
    --pgPercentage: 0; }
  100% {
    --pgPercentage: var(--value); } }
@property --pgPercentage {
  .courses-card__progress-bar {
    syntax: '<number>';
    inherits: false;
    initial-value: 0; } }
    .courses-card__progress-bar div[role="progressbar"] {
      --fg: #DEEFED;
      --bg: #59AFA7;
      --pgPercentage: var(--value);
      animation: growProgressBar 3s 1 forwards;
      background: radial-gradient(closest-side, #F5FCFA 80%, transparent 0 99.9%, white 0), conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0); }
  .courses-card__progress-bar-item {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%; }
  .courses-card__title {
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 41px;
    letter-spacing: 0.37px; }

.course-pop-up {
  width: 786px;
  position: absolute;
  background: #36706A;
  z-index: 2;
  top: 26px;
  left: 50%;
  transform: translate(-50%, 0); }
  .course-pop-up__cross {
    width: 28px;
    height: 28px;
    position: absolute;
    top: 50px;
    right: 30px;
    cursor: pointer;
    z-index: 1; }
    .course-pop-up__cross:after {
      position: absolute;
      content: url("../../svg/cross-pop-up.svg"); }
  .course-pop-up .btn-ligth {
    width: 365px;
    padding: 17px 0 16px;
    margin-right: 10px; }
  .course-pop-up .btn-like {
    background: #59AFA7;
    width: 50px;
    height: 50px;
    position: relative;
    cursor: pointer; }
    .course-pop-up .btn-like:after {
      position: absolute;
      content: url("../../svg/like20px.svg");
      transform: translate(0, -50%);
      top: 50%; }
  .course-pop-up .main-title {
    font-size: 34px;
    line-height: 41px; }
  .course-pop-up .banner {
    background: linear-gradient(180deg, #36706A 0%, rgba(54, 112, 106, 0.35) 18.57%, rgba(54, 112, 106, 0.247849) 60.41%, rgba(54, 112, 106, 0.553075) 79.77%, #36706A 100%), linear-gradient(0deg, rgba(38, 79, 75, 0.8), rgba(38, 79, 75, 0.8)), url("../../image/baner-home.jpeg");
    background-size: cover;
    height: 514px;
    padding: 362px 20px 20px;
    box-sizing: border-box; }
  .course-pop-up .banner__btn-wrap {
    margin-bottom: 10px; }
  .course-pop-up__descriptions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    padding: 12px 20px 0;
    background: #36706A;
    margin-top: -1px;
    position: relative; }
    .course-pop-up__descriptions > :nth-child(1) {
      width: 51%; }
    .course-pop-up__descriptions > :nth-child(2) {
      text-align: right; }
  .course-pop-up__descriptions-text {
    font-style: normal;
    font-weight: normal;
    font-size: 13.5034px;
    line-height: 29px;
    color: #FFFFFF; }
  .course-pop-up__descriptions-weight-text {
    font-weight: 600; }
  .course-pop-up__list-title {
    font-size: 28px;
    line-height: 42px;
    margin-bottom: 18px;
    padding: 0 20px; }
  .course-pop-up .courses-card__progress-bar {
    position: absolute;
    right: 16px;
    bottom: 69px;
    width: 80px;
    height: 80px; }
    .course-pop-up .courses-card__progress-bar div[role="progressbar"] {
      display: grid;
      place-items: center;
      font-family: 'Poppins', sans-serif;
      font-size: 16px;
      color: #264F4B; }
    .course-pop-up .courses-card__progress-bar div[role="progressbar"]::before {
      counter-reset: percentage var(--value);
      content: counter(percentage) "%"; }
  .course-pop-up .courses-card__progress-bar-item {
    width: 64px;
    height: 64px; }

.pratiche .banner {
  background: linear-gradient(180deg, #36706A 0%, rgba(54, 112, 106, 0.35) 18.57%, rgba(54, 112, 106, 0.247849) 60.41%, rgba(54, 112, 106, 0.553075) 79.77%, #36706A 100%), linear-gradient(0deg, rgba(38, 79, 75, 0.8), rgba(38, 79, 75, 0.8)), url("../../image/pop-up-banner2.jpeg");
  background-size: cover; }

.course-list-item {
  display: flex;
  padding: 20px 55px 20px 27px;
  position: relative;
  background: #36706A;
  cursor: pointer; }
  .course-list-item:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background: #59AFA7;
    bottom: 0;
    left: 0; }
  .course-list-item__number {
    font-style: normal;
    font-weight: 600;
    font-size: 23.99px;
    line-height: 36px;
    align-self: center; }
  .course-list-item__video {
    width: 259px;
    height: 131px;
    position: relative;
    margin: 0 20px 0 15px;
    background: linear-gradient(180deg, rgba(38, 79, 75, 0) 0%, rgba(38, 79, 75, 0) 18.57%, rgba(38, 79, 75, 0.247849) 60.41%, rgba(38, 79, 75, 0.553075) 79.77%, #264F4B 100%), url("../../image/pop-up-banner2.jpeg");
    border-radius: 2px;
    background-size: cover;
    background-position: center; }
    .course-list-item__video > img {
      width: 100%; }
  .course-list-item__btn-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    cursor: pointer; }
  .course-list-item__descriptions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    padding: 8px 0 5px; }
  .course-list-item__descriptions-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    width: 45%; }
  .course-list-item__info {
    display: flex; }
    .course-list-item__info img {
      margin-right: 5px; }
    .course-list-item__info > div {
      margin-right: 20px; }
    .course-list-item__info span {
      font-size: 13px;
      line-height: 18px; }
  .course-list-item__icon-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 5%;
    padding: 10px 0; }
    .course-list-item__icon-wrap > div {
      cursor: pointer; }

.account {
  background: #DEEFED;
  color: #36706A; }
  .account .profile-icon {
    width: 60px;
    height: 60px; }
    .account .profile-icon img {
      width: 60px; }
  .account .header__logo {
    width: 182px; }
    .account .header__logo img {
      width: 100%; }
  .account .header {
    height: 106px;
    line-height: 106px; }
  .account__container {
    width: 1163px;
    margin: auto; }
  .account__title-wrap {
    display: flex;
    padding: 40px 0 30px;
    position: relative; }
    .account__title-wrap:after {
      position: absolute;
      content: "";
      width: 100%;
      height: 2px;
      background: #36706A;
      bottom: 0px;
      left: 0; }
  .account__title {
    font-style: normal;
    font-weight: 600;
    font-size: 42.6407px;
    line-height: 52px;
    margin-right: 42px;
    color: #264F4B; }
  .account__title-descriptions {
    font-style: normal;
    font-weight: 600;
    font-size: 13.5px;
    line-height: 52px; }
    .account__title-descriptions img {
      margin-right: 3px; }

.subscription {
  position: relative;
  margin-top: 21px;
  display: flex;
  justify-content: space-between; }
  .subscription__btn-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 52px;
    color: #59AFA7; }
  .subscription__btn {
    background: #BDDFDC;
    width: 236px;
    padding: 10px 0;
    color: #264F4B;
    font-weight: 500;
    font-size: 13.5px;
    line-height: 20px;
    letter-spacing: -0.005em;
    cursor: pointer; }
    .subscription__btn_sun {
      background: #E99022; }
  .subscription__main-container {
    width: 69.5%; }
  .subscription__info-user {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .subscription__field-second {
    color: #59AFA7; }
  .subscription__field-password {
    margin-left: 5px; }
  .subscription__field {
    font-weight: 600;
    font-size: 18px;
    line-height: 52px; }
  .subscription__field-mail {
    color: #264F4B; }
  .subscription__field-btn {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 52px;
    cursor: pointer; }
  .subscription__container-block {
    position: relative;
    padding-bottom: 18px; }
    .subscription__container-block:after {
      position: absolute;
      content: "";
      width: 100%;
      height: 2px;
      background: #36706A;
      bottom: 0px;
      left: 0; }
  .subscription__info-card .subscription__field-mail img {
    margin-right: 10px; }
  .subscription__field-billing {
    color: #36706A;
    font-weight: 500;
    font-size: 13.5px;
    line-height: 36px; }
  .subscription__wrap-link {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 38%;
    padding-top: 16px; }
  .subscription__second-block {
    display: flex;
    justify-content: space-between;
    padding: 10px 0 16px; }
    .subscription__second-block a {
      display: inline-flex;
      text-align: right;
      line-height: 24px;
      margin-bottom: 21px; }
  .subscription .sign-out {
    text-decoration: underline;
    display: block;
    text-align: center;
    margin-top: 14px; }

.email {
  height: calc(100vh - 106px);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center; }
  .email__wrap {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; }
  .email__title {
    font-style: normal;
    font-weight: 600;
    font-size: 42.6407px;
    line-height: 52px;
    color: #264F4B;
    margin: 35px 0 55px; }
  .email__btn {
    padding: 24px 40px;
    background: #36706A;
    color: #F5FCFA;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.005em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
  .email__btn-weigth-text {
    font-weight: 600;
    padding-left: 5px; }

/*# sourceMappingURL=style.css.map */
